footer, div {
	clear: both;
}

body {
    background-color: white;
    width: 70%;
   

}

main {
	width: 80%;
	margin: 0 auto;
}



.tweet{
	
    width: 100%;
    margin: 5px auto;
    padding: 10px; 
    
    border-style: groove;
    border-color: green;
   
    border-radius: 10px 10px 10px 10px;
    background: radial-gradient(ellipse at center, rgba(242,246,248,1) 0%, rgba(216,225,231,1) 34%, rgba(181,198,208,1) 64%, rgba(224,239,249,1) 100%);
}

.msg {
	text-align: right;
	position: right;
}

.time{
	text-align: center;
}

.link{
	text-decoration: none;
	font-color: blue;
	font-weight: bold;
}


header h1 {
	margin: 0 auto 0 auto;
	text-align: center;
	font-size: 45px;
	padding: 15px;
	border-radius: 10px 10px 10px 10px;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
 
.clearfix:after {
  clear: both;
}
 
.clearfix {
  *zoom: 1;
}

